<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LevelDir" value="Levels/"/>
		<add key="MapWidth" value="23"/>
		<add key="MapHeight" value="15"/>
		<add key="BackgroundMusicPath" value="Music/backgroundmusic.wav" />
		<add key="CollisionSondPath" value="Music/collision.wav" />
		<add key="CoinImagePath" value="Images/Coin.png" />
		<add key="LevelMessageJson" value="Levels/LevelMessages.json"/>
	</appSettings>
</configuration>
